<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form th:action th:object="${postForm}" method="post">
        <div class="form-group">
            <label th:for="title">제목</label>
            <input type="text" th:field="*{title}" class="form-control"
                   placeholder="제목을 입력하세요" th:class="${#fields.hasErrors('title')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('title')}"
               th:errors="*{title}">Incorrect date</p>
        </div>
        <div class="form-group">
            <label th:for="content">내용</label>
            <textarea th:field="*{content}" class="form-control" rows="7"
                      placeholder="내용을 입력하세요" th:class="${#fields.hasErrors('content')}? 'form-control fieldError' : 'form-control'"></textarea>
            <p th:if="${#fields.hasErrors('content')}"
               th:errors="*{content}">Incorrect date</p>
        </div>
        <button type="submit" class="btn btn-primary pull-right">글 등록</button>
        <a href="/posts" class="btn btn-default pull-right me-1" onclick="if(!confirm('돌아가시겠습니까?')) { return false; };">뒤로</a>
    </form>
    <div th:replace="fragments/footer :: footer" />
</div>
</body>
</html>